# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Debug
/build
*.save
*.mk
makefile
*.cbp
*.depend
*.log

.vscode/
.project
.cproject
.settings
.idea/

# Cmake
cmake-build-debug-coverage/
cmake-build-release/
cmake-build-debug/pronounceable_pwd
cmake-build-debug/CMakeFiles/pronounceable_pwd.dir/CXX.includecache
cmake-build-debug/CMakeFiles/pronounceable_pwd.dir/depend.internal
cmake-build-debug-coverage/cmake_install.cmake
cmake-build-debug-coverage/CMakeCache.txt
cmake-build-debug-coverage/pronounceable_pwd
cmake-build-debug-coverage/CMakeFiles/clion-environment.txt
cmake-build-debug-coverage/CMakeFiles/clion-log.txt
cmake-build-debug-coverage/CMakeFiles/cmake.check_cache
cmake-build-debug-coverage/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug-coverage/CMakeFiles/feature_tests.bin
test/test_password
test/output.xml
